/* 색상 정의 */
:root {
    --colorGray: #717171;
    --colorRed: #D72F2F;
    --colorGreen: #2BCD3B;
    --colorBlue1: #99CEFF;
    --colorBlue2: #59A4FB;
}

/* 텍스트 스타일 */
.mainTitle {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600; /* semi bold */
    font-size: 54px;
}

.heading {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600; /* semi bold */
    font-size: 28px;
}

.defaultText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500; /* medium */
    font-size: 20px;
}

.helperText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500; /* medium */
    font-size: 16px;
}

.buttonText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600; /* semi bold */
    font-size: 36px;
}

.subTitle {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600; /* semi bold */
    font-size: 20px;
}

.subText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500; /* medium */
    font-size: 20px;
}

.subTextBold {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600; /* semi bold */
    font-size: 21px;
}






.join-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 30px;
    
    width: 540px;
    height: 404px;
}

.join-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #717171;
    
}